@model List<MVCPiqueSysMarket.Models.Produtos>

@{
    ViewBag.Title = "PiqueSysMarket";
}

<h2>Produtos</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Preco</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Ações</th>
            <th></th>
        </tr>

        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Nome</td>
                <td>@produto.Preco</td>
                <td>@produto.Descricao</td>
                <td>@produto.Categoria</td>
                <td>@Html.ActionLink("Detalhes", "Detalhes", new { id = produto.Id }, new { @class = "btn btn-success" })</td>
            </tr>
        }
    </table>
    <br />
    teste
    <br />
    <a href="/Usuarios/Login" title="Cancelar" class="btn btn-info">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Login
    </a>

</div>